<%= form_for @list do |form_list| %>

  <!-- Lists -->
  <div class="form-group row">
    <div class="col-12">
      <%= form_list.text_field :name, class: "form-control validate", required: true %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <%= form_list.check_box :status, {:checked => form_list.object.list_done?}, :list_done, :list_pend  %>
      Done
    </div>
    <div class="col-6">
      <%= form_list.check_box(:type_access, {:checked => form_list.object.list_private?}, :list_private, :list_shared) %>
      Private
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <%= form_list.submit 'Save', class: "btn btn-primary" %>
      <%= link_to 'Delete', @list, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure delete List?' } %>
    </div>
  </div>

  <!-- Tasks -->
  <%= form_list.fields_for :tasks do |t| %>
    <%= render 'task_fields', task: t %>
  <% end %>

  <div class="new_content">
    <%= link_to_add_task (image_tag "add.png"), form_list, :tasks %>
    Add task
  </div>

<% end %>
