<p>Don't forget</p>

<%= form_for @list do |form_list| %>

  <!-- Lists -->
  <div class="form-group row">
    <div class="col-sm-1">
      <%= form_list.check_box :status, {:checked => form_list.object.list_done?}, :list_done, :list_pend  %>
    </div>
    <div class="col-sm-7">
      <%= form_list.text_field :name, class: "form-control validate" %>
    </div>
    <%= form_list.label :type_access, "Private:", class: "col-sm-1 col-form-label" %>
    <div class="col-sm-3">
      <%= form_list.check_box(:type_access, {:checked => form_list.object.list_private?}, :list_private, :list_shared) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <%= form_list.submit 'Save', class: "btn btn-primary" %>
      <%= link_to 'Delete', @list, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure delete List?' } %>
    </div>
  </div>

  <!-- Tasks -->
  <%= form_list.fields_for :tasks do |builder| %>
    <%= render 'task_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "New task", form_list, :tasks %>

<% end %>
