<!DOCTYPE html>
<html>
  <head>
    <title>DontForget</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <header>
      <%= render "shared/navbar" %>
    </header>

    <div class="container">
      <div class="message-fixed-box">
      <%= flash_message %>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
